main {
	background-color: #fff;
	padding: 1em;
	border-radius: 12px;
	width: 90%;
	max-width: 400px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: grid;
	place-items: center;
	gap: 1em;
}
h1 {
	font-size: 2em;
	color: #333;
}
.color-box {
	width: 220px;
	height: 220px;
	margin: 0 auto;
	border-radius: 12px;
	transition: 0.3s ease-in;
}
.color-options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}
.color-option {
	background-color: green;
	width: 64px;
	height: 42px;
	transition: 0.3s ease-in;
}
.color-option:hover {
	transform: scale(110%);
}
.color-option:active {
	transform: scale(90%);
}
.new-game-btn {
	background-color: #2510dc;
	color: white;
	padding: 0.8em 1.2em;
	font-weight: 600;
	font-size: 1em;
}
@media (width < 400px) {
	main {
		width: 100%;
		height: 100vh;
    gap: 0;
	}
	h1 {
		font-size: 1.5em;
		padding: 0.5em 1em;
	}
	.color-box {
		width: 200px;
		height: 200px;
	}
	.new-game-btn {
		font-size: 0.8em;
	}
}
